.is_center {
	text-align: center;
}
.is_right {
	text-align: right;
}
.is_input {
  width: 200px;
  text-align: left;
}

.el-form{
  margin-bottom: 0;
}
body,a{
  font-size: 16px;
  line-height: 35px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 250px;
}
.box_title{
  background: #dfedf9;
  color: #409eff;
}
.box_title ul{
  list-style: none;
}
@media print {
  body,a{
    font-family: '宋体';
  }
}
