<!-- 引入样式 -->
<link rel="stylesheet" href="/css/element-ui/lib/theme-chalk/index.css" />
<link rel="stylesheet" href="/umeditor/themes/default/css/umeditor.min.css"/>
<style>
  .inputBox .el-input__inner {
    height: 20px;
  }

  .el-input-group__append {
    padding: 0 5px;
  }
</style>
<body style="margin: 0">
  <div id="app">
    <template>
      <div v-html="form.text" v-if="baseConfig.isPrint"></div>
      <t-edit v-model="form.text" @ready="ready" v-if="!baseConfig.isPrint"></t-edit>
    </template>
  </div>
</body>
<script src="/js/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/vue/2.6.6/vue.min.js"></script>
<script src="/js/element-ui/lib/theme-chalk/index.js"></script>
<script src="/js/babel-standalone/7.0.0-beta.3/babel.min.js"></script>
<script src="/umeditor/umeditor.config.js" charset="utf-8"></script>
<script src="/umeditor/umeditor.all.min.js" charset="utf-8"></script>
<script src="/js/tmpVuePlugin.js" type="text/babel"></script>
<script src="/js/tmpEvent.js" type="text/babel"></script>
<script src="/js/tmpApp.js" type="text/babel"></script>
<script type="text/babel">
  const controlData = new ControlData();
	class TmpVue extends TmpApp {
		init() {
      this.req.text = `
      <p>
<p> ${new Date().format('yyyy-MM-dd hh:mm:ss')}</p>
<p><b>主诉：</b>突发胸痛小时</p>
<p><b>现病史：</b>患者于入院前天，多于活动量增加后出现胸部疼痛，伴出汗、憋气、胸闷，无恶心、呕吐，无头晕、头痛，无黑矇及晕厥，症状持续2-3分钟左右，服速效救心丸并休息后症状可自行缓解，未就医，后症状间断发作，未正规治疗，症状发作逐渐频繁，性质同前，与活动量增加相关，就诊于外院考虑“心肌缺血”。于10天前患者无明显诱因睡眠中症状复发，出现胸部剧烈疼痛，胸骨后烧灼痛，胸部压榨感，疼痛向肩背部放射，伴出汗、憋气、胸闷，无恶心、呕吐，无头晕、头痛，无黑矇及晕厥，症状持续不缓解，反复含服硝酸甘油效果不显著，于我院急诊就诊，查心电图示：窦性心律，I、AVL/II、III、AVF/AVR/V1、V2/V3、V4/V5、V6/V7、V8、V9/ V3R-V5R导联ST段抬高 mv。呈q /QS /Q波,T波低平双向倒置.房早/室早/室速/右左束支传导阻滞 I度AVB，II度1，2型AVB，III度AVB，，心肌酶及TNI升高，考虑“急性心肌梗死”，给予阿司匹林300mg、替格瑞洛180mg/氯吡格雷300mg，现为进一步诊治收入院。</p>
<p><b>既往史：</b>高血压年，最高达收缩压值${this.req.systolicPressure}/舒张压值${this.req.diastolicPressure}mmHg，服用复方降压片控制血压，平素未注意监测血压。糖尿病史年年，使用拜唐苹、二甲双胍、门冬胰岛素控制血糖。无脑梗塞病史。无消化系统疾病、甲状腺及血液系统疾病史。否认肝炎、结核、疟疾等传染病史。否认外伤史，否认手术史。否认输血史。否认药物、食物过敏史，无毒物接触史。预防接种随当地进行。</p>
<p>体温:${this.req.temperature}℃	脉搏:	${this.req.heartRate}次/分	呼吸:	${this.req.breathe}次/分	血压:${this.req.systolicPressure}/${this.req.diastolicPressure}mmHg 	血氧饱和度:${this.req.so2} 	%</p>
<p><b>体格检查：</b>神清，唇甲微绀，血压 ${this.req.systolicPressure}/${this.req.diastolicPressure} mmHg，血氧饱和度${this.req.so2} %，双肺呼吸音低，可闻及干啰音，心率，心率 ${this.req.heartRate}  次/分，心律齐，未闻及病理性杂音。腹软，肝脾未触及，双下肢无水肿。</p>
<p><b>辅助检查:</b>无</p>
<p><b>心电图:</b>无</p>
<p><b>心电图诊断:</b>窦率，I、AVL/II、III、AVF/AVR、/V1、V2/V3、V4/V5、V6/V7、V8、V9/ V3R、V4R、V5R导联ST段压低mv。呈q/QS/Q波，T波低平双向倒置，房早/室早/房颤/交界早/右左束支传导阻滞不完全。</p>
<p><b>初步诊断:</b>冠心病/急性非ST段抬高心肌梗死(数值型)/心功能I级（Killip）/原发性高血压3级(极高危)/2型糖尿病/陈旧脑梗塞/慢性胃炎</p>
<p><b>处理意见：</b>1.休息，制动，吸氧，心电监护，告病危，记出入量2.血常规，肾功能，电解质，心肺五项，凝血全项，肝炎，梅毒，艾滋3.
<p>心衰</p>
<p>5%葡萄糖主射液（大家袋装250ml)· 250ml 1袋 7.05 静滴，1/日，每次1袋,用时1日</p>
<p>胰岛素主射液 40010 1支 23.82 静滴，1/日，每次0.01,用时1日</p>
<p>米力农注射液 5mg 2支 169.60 静滴，1/日，每次2支,用时1日</p>
<p>5%葡萄糖注射液（大家袋装100ml)· 100ml 6.52 泵入，即刻，每次1袋,用时1日 35ML</p>
<p>米力农注射液 5mg 3支 169.60 静滴，泵入，即刻，每次3支用时1日 5ML/H</p>
<p>心衰口服药</p>
<p>玻珀酸美托洛尔缓释片 47.5mg*7 1 盒 14.70 口服，1/日，每次0.5片，用时1日</p>
<p>呋塞米片 20mg*100 1瓶 14.50 口服，1/日，每次1片，用时1日</p>
<p>螺内酯片 20mg*100 1瓶 16.50口服，1/日，每次1片，用时1日</p>
<p>缬沙坦胶囊 80mg*7 1盒 34.27口服，1/日，每次1粒，用时1日</p>
<p>地高辛片（信谊）0.25mg*30 1盒 30.00 口服，1/日，每次0.5片，用时1日</p>
<p>溶栓</p>
<p>肝素钙注射液* 10000IU 1支 11.00静脉注射，即刻，每次</p>
<p>氯化钠注射液（大家100ml) 100ml:0.9g 1袋 6.34静脉注射，即刻，每次</p>
<p>注射用重组人尿数酶原（增付10%) 5mg 4支4080.00静脉注射，即刻，每次</p>
<p>氯化纳注射液（大家100ml) 100ml:0.9g 1袋 6.34泵入，即刻，每次1袋，</p>
<p>注射用重组人尿数酶原（增付10%) 5mg 3支 3060.00 泵入，即刻，每次3支，</p>
<p>氯化纳注射液（大家100ml) 100ml:0.9g 1袋 6.34 泵入，即刻，每次1袋，</p>
<p>注射用重组人尿数酶原（增付10%) 5mg 3支3060.00泵入，即刻，每次3支，</p>
<p>乳化钠注射液（大家100ml) 100ml:0.92 1袋 6.34 泵入，即到，每次1袋，</p>
<p>杆素钙注射液 10000IU 1支 11.00 泵入，即刻，每次1支，</p>
<p>氯化钠注射液（大家100ml) 100ml:0.9g 1支 6.34静滴，即刻，每次1袋</p>
<p>注射用洋托拉哇钠*(增付5%) 40mg 101.30 静滴，即刻，每次1支，</p>
<p>替罗非班</p>
<p>5%葡萄糖主射液（大家袋装250ml)· 250ml 1袋 7.05 泵入，即刻，每次1袋,用时1日</p>
<p>盐酸替罗非班注射液 50ml:12.5mg 1瓶 613.64 泵入，即刻，每次1瓶，用时1日</p>
<p>盐酸替罗非班氯化钠注射液 5mg 1瓶 280.17 泵入，1/日，每次1瓶，用时1日  </p>
<p>ACS</p>
<p>阿司匹林肠溶片* 0.1g*30  1 盒 15.40 口服，即刻，每次3片，用时1日</p>
<p>硫酸氢氯吡格雷片 75mg*7  1 盒 22.26 口服，即刻，每次4片，用时1日</p>
<p>阿托伐他汀钙片 20mg*7  1 盒 6.60 口服，即刻，每次1片，用时1日</p>
<p>厄贝沙坦氢氯噻嗪片 150mg/12.5  1 盒 15.26 口服,1/日，每次1片，用时1日</p>
<p>氯沙坦钾片* 0.1g*7  1 盒 12.82 口服,1/日，每次1片，用时1日</p>
<p>厄贝沙坦片 75mg*28  1 盒 5.66 口服,1/日，每次1片，用时1日</p>
<p>琥珀酸美托洛尔缓释片* 47.5mg*7  1 盒 14.7 口服,1/日，每次0.5片，用时1日</p>
<p> 呋塞米片20mg*100  1 瓶 14.50 口服，1/日，每次12片，用时1日</p>
<p>硫酸氢氯吡格雷片 25mg*10  2 盒 27.08 口服，即刻，每次12片，用时1日</p>
<p>复方丹参滴丸 27mg*180  1 盒 26.08 口服，3/日，每次10丸，用时1日</p>
<p>苯磺酸氨氯地平片*  5mg*28  1 瓶 4.16 口服，1/日，每次1片，用时1日</p>
<p>苯磺酸氨氯地平片(辉瑞) 5mg*7  1 盒 24.01 口服，1/日，每次1片，用时1日</p>
<p>CT</p>
<p>氯化钠注射液(大冢100ml) 100ml:0.9g  1 袋 6.34 术中带药，即刻，每次100ml，用时1日</p>
<p>碘克沙醇注射液* 100ml:32g  1 瓶 645.90 术中带药，即刻，每次100ml，用时1日</p>
<p>碘帕醇注射液* 100ml:37g  1 瓶 300.52 术中带药，即刻，每次100ml，用时1日</p>
<p>胺碘酮</p>
<p>5%葡萄糖注射液(大冢袋装100ml) 100ml  1袋 6.52 静滴，1/日，每次1袋，用时1日</p>
<p>盐酸胺碘酮注射液* 0.15g  1支 24.55 静滴，1/日，每次1支，用时1日</p>
<p>5%葡萄糖注射液(大冢袋装250ml) 250ml  1袋 7.05 静滴，1/日，每次1袋，用时1日</p>
<p>盐酸胺碘酮注射液* 0.15g  2支 49.10 静滴，1/日，每次2支，用时1日</p>
<p>房颤抗凝</p>
<p>利伐沙班片(20mg)* 20mg*7  1盒 242.20 口服，1/日，每次1片，用时1日</p>
<p>华法林钠片(芬兰)* 3mg*100  1盒 52.90 口服，1/日，每次1片，用时1日</p>
<p>依诺肝素钠注射液(4000IU)* 2支 103.80 皮下注射，2/日，每次1支，用时1日</p>
<p>依诺肝素钠注射液(4000IU)* 1支 51.90 皮下注射，1/日，每次1支，用时1日</p>
<p>高血压</p>
<p>酒石酸美托洛尔片* 25mg*20  1盒 6.90 口服，2/日，每次0.5片，用时1日</p>
<p>琥珀酸美托洛尔缓释片* 47.5mg*7  1盒 14.70 口服，1/日，每次0.5片，用时1日</p>
<p>厄贝沙坦氢氯噻嗪片*  150mg/12.5mg*14  1盒 15.26 口服，1/日，每次1片，用时1日</p>
<p>氯沙坦钾片片* 0.1g*7  1盒 12.82 口服，1/日，每次0.5片，用时1日</p>
<p>厄贝沙坦片* 75mg*28  1盒 5.66 口服，1/日，每次0.5片，用时1日</p>
<p>苯磺酸氨氯地平片(辉瑞) 5mg*7  1 盒 24.01 口服，1/日，每次1片，用时1日</p>
<p>苯磺酸氨氯地平片*  5mg*28  1 瓶 4.16 口服，1/日，每次1片，用时1日</p>
<p>冠心病</p>
<p>阿司匹林肠溶片* 0.1g*30  1 盒 15.40 口服，即刻，每次3片，用时1日</p>
<p>硫酸氢氯吡格雷片(赛诺菲)* 75mg*7  1 盒 91.70 口服，即刻，每次4片，用时1日</p>
<p>阿司匹林肠溶片* 0.1g*30  1 盒 15.40 口服，即刻，每次3片，用时1日</p>
<p>硫酸氢氯吡格雷片(赛诺菲)* 75mg*7  1 盒 91.70 口服，即刻，每次4片，用时1日</p>
<p>酒石酸美托洛尔片*  25mg*20  1 盒 6.90 口服，即刻，每次0.5片，用时1日</p>
<p>琥珀酸美托洛尔缓释片* 47.5mg*7  1盒 14.70 口服，1/日，每次0.5片，用时1日</p>
<p>阿托伐他汀钙片 20mg*7  1 盒 6.60 口服，即刻，每次1片，用时1日</p>
<p>缬沙坦胶囊* 80mg*7  1 盒 34.27 口服，即刻，每次1粒，用时1日</p>
<p>泮托拉唑肠溶片* 40mg*7  1 盒 69.27 口服，即刻，每次1粒，用时1日</p>
<p>急性心肌梗死</p>
<p>阿司匹林肠溶片* 0.1g*30  1 盒 15.40 口服，即刻，每次3片，用时1日</p>
<p>硫酸氢氯吡格雷片(赛诺菲)* 75mg*7  1 盒 91.70 口服，即刻，每次4片，用时1日</p>
<p>阿托伐他汀钙片 20mg*7  1 盒 6.60 口服，即刻，每次1片，用时1日</p>
<p>琥珀酸美托洛尔缓释片* 47.5mg*7  1盒 14.70 口服，1/日，每次0.5片，用时1日</p>
<p>复方丹参滴丸 27mg*180  1 盒 26.08 口服，3/日，每次10丸，用时1日</p>
<p>扩冠</p>
<p>5%葡萄糖注射液(大冢袋装100ml) 100ml  1袋 6.52 泵入，即刻，每次1袋，用时1日</p>
<p>注射用硝酸异山梨酯(5mg)* 5mg  4支 29.24 泵入，即刻，每次4支，用时1日</p>
<p>5%葡萄糖注射液(大冢袋装250ml) 250ml  1袋 7.05 静滴，1/日，每次1袋，用时1日</p>
<p>胰岛素注射液* 400IU 1支 23.82 静滴，1/日，每次0.01支，用时1日</p>
<p>注射用硝酸异山梨酯(5mg)* 5mg  2支 14.62 泵入，即刻，每次2支，用时1日</p>
<p>利尿强心</p>
<p>氯化钠注射液(支)* 10ml:90mg 1瓶 1.13 静脉注射,1/日，每次1瓶，用时1日</p>
<p>注射用托拉塞米* 20mg 2支 61.98 静脉注射,1/日，每次2支，用时1日</p>
<p>注射用托拉塞米* 20mg 1支 30.99 静脉注射,1/日，每次1支，用时1日</p>
<p>氯化钠注射液(支)* 10ml:90mg 1瓶 1.13 滴壶入,1/日，每次1瓶，用时1日</p>
<p>去乙酰毛花苷注射液(倍特)* 0.4mg 1支 92.00 滴壶入,1/日，每次0.5支，用时1日</p>
</p>
<p style="margin-left:54%;">医生签名：</p>
          </p>
      `;
    }
	}
	new TmpVue().createVue();
</script>